@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}
body {
  background: hsl(226, 43%, 10%);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 75px 25px;
  font-size: 18px;
}
/* Header Section */
.header {
  background: hsl(235, 46%, 20%);
  border-radius: 15px;
}
.header__person {
  background: hsl(246, 80%, 60%);
  border-radius: 15px;
  display: flex;
  padding: 25px;
}
.header__person__image {
  width: 25%;
  border: 3px solid #ffffff;
  border-radius: 50%;
  margin-right: 15px;
}
.header__person__title {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
  margin: 0;
}
.header__person__title__name {
  color: #ffffff;
  font-size: 24px;
}
.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: hsl(235, 45%, 61%);
  padding: 25px;
}
.header__list__item {
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300;
  color: hsl(235, 45%, 61%);
  cursor: pointer;
}
.header__list__item:hover,
.header__list__item:focus {
  color: #ffffff;
}
.header__list__item.selected {
  color: #ffffff;
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
